<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Connexion</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

  </head>
  
   <body class="{{sportFavoris[0]}}">
    <div class="container d-flex justify-content-between">
      <div class="row">
        <div class="col-md-4 col-md-offset-3">
          <form method="POST" action="/connexion" class="box">
            <div class="row">
                <h1> Se connecter</h1>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="Pseudo">Pseudo</label>
                  <input type="text" class="form-control" id="pseudo" placeholder="Pseudo" name="pseudo" required> 
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="Password">Mot de passe</label>
                  <input type="password" class="form-control" id="password" placeholder="Mot de passe" name="mdp" required>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <button type="submit" value="Connexion" class="btn btn-primary">
                  Se connecter
                </button>
              </div>
            </div>
          
          
          {% if erreur==1 %}
          <div class="row">
            <div class="col-md-12">
                <div class ="erreur">
                  Le pseudo ou le mot de passe est incorrect.
              </div>
            </div>
          </div>
          {% endif %}
          </form>
        </div>
        
        
        <div class="col-md-2 col-md-offset-3">
          <script type="text/javascript" src="client.js"></script>
          <script>includePub("{{ sportFavoris[1] }}", "{{ sportFavoris[2] }}");</script>
        </div>
      </div>
    </div>
  </body>
</html>